<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmail.mosoft521.jxc4papaer.dao.PurchaseStockInMapper">
  <resultMap id="BaseResultMap" type="com.gmail.mosoft521.jxc4papaer.entity.PurchaseStockIn">
    <id column="purchase_stock_in_id" jdbcType="INTEGER" property="purchaseStockInId" />
    <result column="purchase_id" jdbcType="INTEGER" property="purchaseId" />
    <result column="emp_id" jdbcType="INTEGER" property="empId" />
    <result column="purchase_stock_in_no" jdbcType="VARCHAR" property="purchaseStockInNo" />
    <result column="day" jdbcType="TIMESTAMP" property="day" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    purchase_stock_in_id, purchase_id, emp_id, purchase_stock_in_no, day, remark
  </sql>
  <select id="selectByExample" parameterType="com.gmail.mosoft521.jxc4papaer.entity.PurchaseStockInExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from purchase_stock_in
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from purchase_stock_in
    where purchase_stock_in_id = #{purchaseStockInId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from purchase_stock_in
    where purchase_stock_in_id = #{purchaseStockInId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gmail.mosoft521.jxc4papaer.entity.PurchaseStockInExample">
    delete from purchase_stock_in
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gmail.mosoft521.jxc4papaer.entity.PurchaseStockIn">
    <selectKey keyProperty="purchaseStockInId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into purchase_stock_in (purchase_id, emp_id, purchase_stock_in_no, 
      day, remark)
    values (#{purchaseId,jdbcType=INTEGER}, #{empId,jdbcType=INTEGER}, #{purchaseStockInNo,jdbcType=VARCHAR}, 
      #{day,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gmail.mosoft521.jxc4papaer.entity.PurchaseStockIn">
    <selectKey keyProperty="purchaseStockInId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into purchase_stock_in
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="purchaseId != null">
        purchase_id,
      </if>
      <if test="empId != null">
        emp_id,
      </if>
      <if test="purchaseStockInNo != null">
        purchase_stock_in_no,
      </if>
      <if test="day != null">
        day,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="purchaseId != null">
        #{purchaseId,jdbcType=INTEGER},
      </if>
      <if test="empId != null">
        #{empId,jdbcType=INTEGER},
      </if>
      <if test="purchaseStockInNo != null">
        #{purchaseStockInNo,jdbcType=VARCHAR},
      </if>
      <if test="day != null">
        #{day,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gmail.mosoft521.jxc4papaer.entity.PurchaseStockInExample" resultType="java.lang.Long">
    select count(*) from purchase_stock_in
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update purchase_stock_in
    <set>
      <if test="record.purchaseStockInId != null">
        purchase_stock_in_id = #{record.purchaseStockInId,jdbcType=INTEGER},
      </if>
      <if test="record.purchaseId != null">
        purchase_id = #{record.purchaseId,jdbcType=INTEGER},
      </if>
      <if test="record.empId != null">
        emp_id = #{record.empId,jdbcType=INTEGER},
      </if>
      <if test="record.purchaseStockInNo != null">
        purchase_stock_in_no = #{record.purchaseStockInNo,jdbcType=VARCHAR},
      </if>
      <if test="record.day != null">
        day = #{record.day,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update purchase_stock_in
    set purchase_stock_in_id = #{record.purchaseStockInId,jdbcType=INTEGER},
      purchase_id = #{record.purchaseId,jdbcType=INTEGER},
      emp_id = #{record.empId,jdbcType=INTEGER},
      purchase_stock_in_no = #{record.purchaseStockInNo,jdbcType=VARCHAR},
      day = #{record.day,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gmail.mosoft521.jxc4papaer.entity.PurchaseStockIn">
    update purchase_stock_in
    <set>
      <if test="purchaseId != null">
        purchase_id = #{purchaseId,jdbcType=INTEGER},
      </if>
      <if test="empId != null">
        emp_id = #{empId,jdbcType=INTEGER},
      </if>
      <if test="purchaseStockInNo != null">
        purchase_stock_in_no = #{purchaseStockInNo,jdbcType=VARCHAR},
      </if>
      <if test="day != null">
        day = #{day,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where purchase_stock_in_id = #{purchaseStockInId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gmail.mosoft521.jxc4papaer.entity.PurchaseStockIn">
    update purchase_stock_in
    set purchase_id = #{purchaseId,jdbcType=INTEGER},
      emp_id = #{empId,jdbcType=INTEGER},
      purchase_stock_in_no = #{purchaseStockInNo,jdbcType=VARCHAR},
      day = #{day,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where purchase_stock_in_id = #{purchaseStockInId,jdbcType=INTEGER}
  </update>
</mapper>