<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Basic DataGrid - jQuery EasyUI Demo</title>
    <link rel="stylesheet" type="text/css" href="../../../static/themes/default/easyui.css" th:href="@{../../../static/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" href="../../../static/themes/icon.css" th:href="@{../../../static/themes/icon.css}">
    <link rel="stylesheet" type="text/css" href="../demo.css" th:href="@{../demo.css}">
    <script type="text/javascript" src="../../../static/jquery.min.js" th:href="@{../../../static/jquery.min.js}"></script>
    <script type="text/javascript" src="../../../static/jquery.easyui.min.js" th:href="@{../../../static/jquery.easyui.min.js}"></script>
</head>
<body>
<!-- 数据列表 start -->
<table id="dg" title="采购入库明细" class="easyui-datagrid" style="width:850px;height:400px"
       url="/purchaseStockInItem/list" toolbar="#toolbar" singleSelect="true" method="get">
    <thead>
    <tr>
        <th field="purchaseStockInItemId" width="120" align="center">采购入库明细ID</th>
        <th field="purchaseStockInId" width="120" align="center">采购入库ID</th>
        <th field="productName" width="100" align="center">商品</th>
        <th field="quantity" width="100" align="center">数量</th>
        <th field="remark" width="160" align="center">备注</th>
    </tr>
    </thead>
</table>
<!-- 数据列表 end -->

<!-- 工具按钮 start -->
<div id="toolbar">
    <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newPurchaseStockInItem()">新建采购入库明细</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editPurchaseStockInItem()">编辑采购入库明细</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyPurchaseStockInItem()">移除采购入库明细</a>
</div>
<!-- 工具按钮 end -->

<!--  新增(form表单) start  -->
<div id="dlg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
     closed="true" buttons="#dlg-buttons">
    <div class="ftitle">采购入库明细</div>
    <form id="fm" method="post">
        <div class="fitem">
            <label>purchaseStockInItemId:</label>
            <input type="hidden" name="purchaseStockInItemId">
        </div>

        <div class="fitem">
            <label>采购入库ID:</label>
            <input id="purchaseStockInId" name="purchaseStockInId" class="easyui-validatebox" required="true">
        </div>
        <div class="fitem">
            <label>商品:</label>
            <select id="productId" name="productId" required="true">
            </select>
        </div>
        <div class="fitem">
            <label>数量:</label>
            <input name="quantity" class="easyui-numberbox" required="true">
        </div>
        <div class="fitem">
            <label>备注:</label>
            <input name="remark" class="easyui-validatebox">
        </div>
    </form>
</div>
<!--  新增(form表单) end  -->

<!--  新增中保存和取消按钮 start  -->
<div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="savePurchaseStockInItem()">Save</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">Cancel</a>
</div>
<!--  新增中保存和取消按钮 end  -->
</body>


<script type="text/javascript">
    <!-- 新增采购入库明细窗口 -->
    function newPurchaseStockInItem() {
        $("#dlg").dialog("open").dialog('setTitle', '添加采购入库明细');
        $("#fm").form("clear");
        $("#purchaseStockInId").val(getURLParameter('purchaseStockInId'));
        url = "/purchaseStockInItem/saveOrUpdate";
    }

    <!-- 编辑入库窗口  -->
    function editPurchaseStockInItem() {
        var row = $("#dg").datagrid("getSelected");
        if (row) {
            $("#dlg").dialog("open").dialog("setTitle", "修改采购入库明细");
            $("#dlg").form("load", row);
            url = "/purchaseStockInItem/saveOrUpdate?purchaseStockInItemId=" + row.purchaseStockInItemId;
        }
    }

    <!-- 保存采购入库 -->
    function savePurchaseStockInItem() {
        $("#fm").form('submit', {
            url: url,
            method: "post",
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.errorMsg) {
                    $.messager.show({
                        title: 'Error',
                        msg: result.errorMsg
                    });
                } else {
                    $('#dlg').dialog('close');        // close the dialog
                    $('#dg').datagrid('reload');    // reload the purchaseStockIn data
                }
            },
        });
    }

    <!-- 删除采购入库  -->
    function destroyPurchaseStockInItem() {
        var row = $("#dg").datagrid("getSelected");
        if (row) {
            $.messager.confirm("确认", "确定删除该采购入库明细吗?", function (r) {
                if (r) {
                    var url = "/purchaseStockInItem/delete?purchaseStockInItemId=" + row.purchaseStockInItemId;
                    $.post(url, {id: row.id}, function (result) {
                        if (result) {
                            $('#dg').datagrid('reload');     //reload the purchaseStockIn data
                        } else {
                            $.messager.show({                //show error msg
                                title: "Error",
                                msg: result.errorMsg
                            });
                        }
                    }, 'json');
                }
            });
        }
    }

    function myformatter(date) {
        var y = date.getFullYear();
        var m = date.getMonth() + 1;
        var d = date.getDate();
        var hour = date.getHours();
        var minute = date.getMinutes();
        var second = date.getSeconds();
        return y + '-' + (m < 10 ? ('0' + m) : m) + '-' + (d < 10 ? ('0' + d) : d) + ' ' + (hour < 10 ? ('0' + hour) : hour) + ":" + (minute < 10 ? ('0' + minute) : minute) + ':' + (second < 10 ? ('0' + second) : second);
    }

    function myparser(s) {
        if (!s) return new Date();
        var ss = s.replace(" ", ":").replace(/\:/g, "-").split("-");
        var y = parseInt(ss[0], 10);
        var m = parseInt(ss[1], 10);
        var d = parseInt(ss[2], 10);
        var hour = parseInt(ss[3], 10);
        var minute = parseInt(ss[4], 10);
        var second = parseInt(ss[5], 10);
        if (!isNaN(y) && !isNaN(m) && !isNaN(d)) {
            return new Date(y, m - 1, d, hour, minute, second);
        } else {
            return new Date();
        }
    }

    function getURLParameter(name) {
        return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [, ""])[1].replace(/\+/g, '%20')) || null;
    }

    $(function () {
        var purchaseStockInId = getURLParameter('purchaseStockInId');
        //Ajax初始化商品select
        $.get("/product/listByPurchaseStockInId?purchaseStockInId=" + purchaseStockInId, function (data, status) {
            if (status) {
                $.each(data, function (i, v) {
                    $("#productId").append('<option value ="' + v.productId + '">' + v.productName + '</option>');
                })

            }
        });

        //按传进来的采购入库id初始化之
        //$("#dg").attr("url", "/purchaseStockInItem/list?purchaseId=" + getURLParameter('purchaseStockIn'));
        $('#dg').datagrid('load', {
            purchaseStockInId: purchaseStockInId
        });
    })
</script>
</html>